canvas {
	cursor:pointer
}

.pointer {
	cursor: pointer;
}

#backup {
	width: 100%;
	text-align: center;
	margin-top: 7%;
}

#backup img {
	position: relative;
	left: 100%;
	margin-left: -200%;
}

img {
   position: absolute;
   top: 50%;
   left: 0%;
   width: 100%;
}

@media (max-width: 768px) {
  	#stratus {
  		display: none !important;
  	}

  	#backup{
  		margin-top: 15%;
  	}
}



