/*html {
  background: url(../images/sea-texture.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}*/

body {
  background-color: transparent !important;
}

a {
  text-decoration: none;
  color: #444;
}

h2 {
  font-size: 4em;
}

a:link{
  color: #444;
}

a:hover{
  text-decoration: none;
}

a:active{
  color: #444;
}

canvas {
	cursor:pointer
}

.inner {
  max-width: 350px;
  margin:20% auto 0 auto;
  text-align: center;
    background-color: transparent !important;

}

.inner img {
  position: static;
  margin-bottom: 10px;
}

.pointer {
	cursor: pointer;
}

#backup {
	width: 100%;
	text-align: center;
	margin-top: 7%;
}

#backup img {
	position: relative;
	left: 100%;
	margin-left: -200%;
}

img {
   position: absolute;
   top: 50%;
   left: 0%;
   width: 100%;
}

.controls {
  display: none;  
}

.lion-sound {
  display: none;
}

@media (max-width: 768px) {

  	#backup{
  		margin-top: 15%;
  	}

    .controls {
      display: block;
      position: absolute;
      z-index: 1000000;
      bottom: 0px;
      left: 0px;
      padding: 20px
    }

    .controls span {
      display: inline-block;
      margin-right: 20px;
      cursor: pointer;
    }
}





